{% extends 'base-forms.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% trans "Password reset" %} - Nekomon.es{% endblock %}

{% block content %}

    <form id="reset-form" method="post">
        {% csrf_token %}
        <img src="{% static 'images/neko.png' %}" id="nekomon-logo" alt="{% trans 'Nekomon\'s logo' %}">
        <p id="top-text">{% trans "Password reset" %}</p>

        {% for field in form %}
            <div class="input-row">
                {{ field }}
            </div>
        {% endfor %}

        <!-- Errors -->
        <div id="errors">
            {% if form.errors %}
                {% for key, value in form.errors.items %}
                    {{ value }}
                {% endfor %}
            {% endif %}
        </div>
    </form>

    <div class="buttons-links">
        <button class="big-button" type="submit" form="reset-form">{% trans "Reset password" %}</button>
        <div id="links">
            <div class="link">{% trans "Don't have an account yet?" %} <a href='/register/'>{% trans "Register" %}</a></div>
            <div class="link"><a href="/">{% trans "Go back to main" %}</a></div>
        </div>
    </div>

{% endblock %}