{% extends 'base-forms.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% trans "Log-in" %} - Nekomon.es{% endblock %}

{% block content %}

    <form id="reset-form" method="post">
        {% csrf_token %}
        <img src="{% static 'images/neko.png' %}" id="nekomon-logo" alt="{% trans 'Nekomon\'s logo' %}">
        <p id="top-text">{% trans "Password reset completed" %}</p>

        <div id="email-successful">
            <span class="reset-done">{% trans "Your password has been reseted. You can log-in now." %}</span>
        </div>
    </form>

    <div class="buttons-links">
        <div id="links">
            <div class="link"><a href="/">{% trans "Go back to main" %}</a></div>
        </div>
    </div>

{% endblock %}