{% extends 'base-forms.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% trans "Register" %} - Nekomon.es{% endblock %}

{% block content %}

    <form id="register-form">
        {% csrf_token %}
        <img src="{% static 'images/neko.png' %}" id="nekomon-logo" alt="{% trans 'Nekomon\'s logo' %}">
        <p id="top-text">{% trans "New account" %}</p>

        {% for field in form %}
            <div class="input-row">
                {{ field }}
            </div>
        {% endfor %}

        <!-- Errors -->
        <div id="errors">
            {% if form.errors %}
                {% for key, value in form.errors.items %}
                    {{ value }}
                {% endfor %}
            {% endif %}
        </div>
    </form>

    <div class="buttons-links">
        <div id="spin-load-icon-container">
            <img src="{% static 'images/loading.gif' %}"
             alt="{% trans 'Making a new account...' %}"
             id="spin-load-icon"
             hidden="hidden">
        </div>
        <button class="big-button" type="submit" form="register-form" id="register-button">{% trans "Register" %}</button>
        <div id="links">
            <div class="link"><a href="/">{% trans "Go back to main" %}</a></div>
        </div>
    </div>

{% endblock %}