{% extends 'base-forms.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% trans "Log-in" %} - Nekomon.es{% endblock %}

{% block content %}

    <form id="log-in-form">
        {% csrf_token %}
        <img src="{% static 'images/neko.png' %}" id="nekomon-logo" alt="{% trans 'Nekomon\'s logo' %}">
        <p id="top-text">{% trans "Log-in" %}</p>

        {% for field in form %}
            <div class="input-row">
                {{ field }}
            </div>
        {% endfor %}

        <!-- Errors -->
        <div id="errors">
            {% if form.errors %}
                {% for key, value in form.errors.items %}
                    {{ value }}
                {% endfor %}
            {% endif %}
        </div>
    </form>

    <div class="buttons-links">
        <div id="spin-load-icon-container">
            <img src="{% static 'images/loading.gif' %}"
             alt="{% trans 'Logging in...' %}"
             id="spin-load-icon"
             hidden="hidden">
        </div>
        <button class="big-button" type="submit" form="log-in-form" id="login-button">{% trans "Enter" %}</button>
        <div id="links">
            <div class="link">{% trans "Don't have an account yet?" %} <a href='/register/'>{% trans "Register" %}</a></div>
            <div class="link">{% trans "Forgot your password?" %} <a href='/password_reset/'>{% trans "Reset password" %}</a></div>
        </div>
    </div>

{% endblock %}