@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* {
    box-sizing: border-box;
}*/

body {
    margin: 0;
    font-family: "Work Sans";
    background-color: #434343;
}

nav {
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: white;
    border-bottom: 2px solid #565656;
}

#nav-logo {
    height: 3em;
    padding-left: 1em;
}

.nav-user-data,
.nav-user-data a {
    display: flex;
    align-items: center;
}

.nav-user-data {
    margin-right: 2em;
}

.nav-username {
    padding-right: 1em;
}

.profile-picture-nav {
    width: 3em;
    height: 3em;
}

#nav-logout-button {
    background-color: inherit;
    border: none;
    color: rgb(199, 199, 199);
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

#nav-logout-button:hover {
    color: rgb(224, 124, 185);
}

#nav-username-logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
}

a {
    text-decoration: none;
    color: rgb(199, 199, 199);
}

a:hover {
    color: rgb(224, 124, 185);
}

.main-site-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.user-profile-container {}

.posts {
    margin: auto;
    width: 100%;
}

#post-random {
    word-break: break;
    line-break: break;
    width: 90%;
}

.profile-header {
    position: relative;
    color: white;
    background-size: cover;
    height: 15em;
    width: 95%;
    border-radius: 20px;
    border: 2px solid #565656;
    padding: 1em;
    margin: 1em;
}

.profile-header-view {
    position: relative;
    color: white;
    background-size: cover;
    width: 95%;
    border-radius: 20px;
    border: 2px solid #565656;
    padding: 1em;
    margin: 1em 0;
    display: block;
    overflow: auto;
}

#profile-info {
    word-break: break-all;
    line-break: break-all;
    font-size: 1.4em;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#profile-info div {
    margin-top: 0.5em;
}

.profile-pfp {
    width: 15em;
    height: 15em;
    border-radius: 20px;
    border: 2px solid grey;
    float: left;
    margin-right: 2em;
    background-color: rgb(34, 34, 34);
}

.profile-button-container {
    position: absolute;
    top: 1em;
    right: 1em;
}

.profile-button,
#new-post-button {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    border: 2px solid rgb(34, 34, 34);
    cursor: pointer;
}

.profile-button {
    background-color: rgb(107 151 50);
    font-size: 2em;
    padding: 0.2em 0.4em;
}

.profile-button:hover {
    background-color: rgb(60 84 28);
}

#new-post-button {
    background-color: rgb(18, 83, 165);
    font-size: 1.2em;
    padding: 0.2em 0.6em;
}

#new-post-button:hover {
    background-color: rgb(11, 52, 102);
}

#new-post-button:disabled {
    cursor: default;
    background-color: rgb(11, 52, 102);
}

.post {
    color: white;
    background-color: rgb(42, 42, 42);
    border: 2px solid #565656;
    border-top: 0;
    padding: 1em;
    word-break: break-all;
    line-break: break-all;
}

.post-header {
    height: 5em;
    width: 100%;
    padding-bottom: 1em;
}

.post-pfp {
    float: left;
    width: 5em;
    height: 5em;
    border-radius: 100%;
    border: 1px solid grey;
}

.post-username-date {
    padding-left: 5em;
}

.post-username-date p {
    margin-top: 0;
    margin-left: 1em;
}

.post-content,
#new-post-content {
    display: flex;
    word-wrap: break-word;
}

#image-preview-container {
    position: relative;
    display: none;
    margin-top: 7px;
}

#select-image-icon {
    cursor: pointer;
}

.post-image img, #image-preview {
    width: 100%;
}

#remove-image-button {
    color: red;
    position: absolute;
    right: 5px;
    top: 5px;
    margin-top: 7px;
    cursor: pointer;
}

#new-post-content {
    padding-top: 0;
}

.new-post-content {
    resize: none;
    width: 99%;
    min-height: 6em;
    font-size: 1em;
    background-color: rgb(42, 42, 42);
    color: white;
    font-family: "Work Sans";
    border: none;
    outline: none;
    overflow: hidden;
}

.input-user-description {
    resize: none;
    margin-top: 0.5em;
    width: 97%;
    height: 7em;
    font-size: 15px;
    background-color: rgb(42, 42, 42);
    color: white;
    font-family: "Work Sans";
    border: none;
    outline: none;
    overflow: hidden;
}

#char-count {
    float: right;
    font-size: 1.2em;
    padding-right: 1em;
}

.post p {
    margin-bottom: 0.5em;
}

.flash-message {
    color: red;
    padding-top: 1.2em;
}

.flash-message-green {
    color: green;
}

.user-profile .profile-header {
    font-size: 1em;

    height: 100%;
}

.user-profile {
    width: 90%;
}

.user-profile .profile-pfp {
    width: 5em;
    height: 5em;
}

.user-profile .profile-button-container {
    position: static;
    text-align: center;
}

.user-profile .profile-button {
    width: 100%;
    margin-top: 0.5em;
    font-size: 1.5em;
}

.like-icon:hover {
    cursor: pointer;
    color: #fdbadd;
}

.miscellaneous {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 0;
}

.post-random-text {
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
}

.miscellaneous {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 0;
}

.repository {
    color: white;
    margin: 15px 20px;
    padding: 10px;
    background-color: rgb(42, 42, 42);
}

#update-form-fields input {
    background-color: rgb(42, 42, 42);
    border: 2px solid #565656;
    color: white;
    width: 97%;
    height: 2em;
    margin-top: 0.7em;
    font-size: 15px;
    font-family: "Work Sans";
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ccc; /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#spin-load-icon {
    width: 20px;
    height: 20px;
}

#change-pfp-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 15px;
    cursor: pointer;
}

.description {
    word-break: break all;
    line-break: break all;
}

@media only screen and (max-width: 500px) {
    nav {
        width: 100%;
    }
    #nav-logo {
        height: 3em;
    }
    .profile-picture-nav {
        width: 3em;
        height: 3em;
    }
    .profile-header {
        height: 15em;
        width: 80%;
        height: 100%;
    }
    .profile-header p {
        font-size: 1em;
    }
    .profile-pfp {
        width: 5em;
        height: 5em;
    }
    .profile-button-container {
        position: static;
    }
    .profile-button {
        font-size: 1.2em;
        width: 100%;
        height: 2em;
    }
    .post {
        width: 80%;
    }
    .new-post-content {
        width: 98%;
    }
}