<!DOCTYPE html> {% load static %} {% load i18n %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{% static 'images/neko.png' %}">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/main2.css' %}" rel="stylesheet" type="text/css">

    <title>{% block title %}{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
{% include 'navbar.html' %}

<main class="main-site-container">

    <div class="info-search">
        {% include 'profile_data.html' %}
    </div>

    {% block content %} {% endblock %}

    <div class="miscellaneous">
        <span class="post-random-text">{% trans "Random post" %}</span><br>
        <div id="post-random">
            {{ random_post | safe }}
        </div>

        {% comment %}
        <div class="repository">
            Copyright (c) Rufino Serrano. All rights reserved. {% trans "Check out our repository! " %}
            <a href="https://github.com/ShinMugenNoKabe/nekomon" target="_blank">https://github.com/ShinMugenNoKabe/nekomon</a>
        </div>
        {% endcomment %}
    </div>

</main>

<script src="{% static 'js/jquery.timeago.js' %}"></script>
<script type="text/javascript">
        // Start timeago
        $(document).ready(function() {
            $("time.timeago").timeago();
        });

</script>
<script src="https://kit.fontawesome.com/44068b9eec.js" crossorigin="anonymous"></script>
<script src="{% static 'js/edit-profile.js' %}"></script>
<script src="{% static 'js/upload-post.js' %}"></script>
<script src="{% static 'js/fetch-errors.js' %}"></script>
</body>

</html>