<!DOCTYPE html> {% load static %}
<html lang="es-ES">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{% static 'images/neko.png' %}">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type='text/css'>
    <link href="{% static 'css/main2.css' %}" rel="stylesheet" type='text/css'>

    <title>Iniciar sesión - Nekomon</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar.html' %} {% block content %} {% endblock %}

    <script src="https://kit.fontawesome.com/44068b9eec.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/edit-profile.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/upload-post.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fetch-errors.js' %}"></script>
</body>

</html>