{% extends 'base.html' %} {% load i18n %} {% load static %}

{% block title %}{% trans "Feed" %} - Nekomon.es{% endblock %}

{% block content %}


<div class="posts">
    {% include 'post_box.html' %}
    <div id="posts">
        {{ posts | safe }}
    </div>
</div>

<script type="text/javascript">
    const protocol = location.protocol === "http:" ? "ws://" : "wss://";

    // Start WebSocket for the logged in user
    const postSocket = new WebSocket(
        protocol + window.location.host + '/ws/feed/{{ request.user.username }}/'
    );
</script>

{% endblock %}