{% extends 'base.html' %} {% load i18n %} {% load static %}

{% block title %}{% trans "Feed" %} - Nekomon.es{% endblock %}

{% block content %}

<main class="main-site-container">

    <div class="user-profile">
        {% include 'profile_data.html' %}
    </div>

    <div class="posts">
        {% include 'post_box.html' %}
        <div id="posts">
            {{ posts | safe }}
        </div>
    </div>

    <div class="miscellaneous">
        <span class="post-random-text">{% trans "Random post" %}</span><br>
        <div id="post-random">
            {{ random_post | safe }}
        </div>
    </div>

</main>

<script type="text/javascript">
    // Start WebSocket for the logged in user
    const postSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/feed/{{ request.user.username }}/'
    );
</script>

{% endblock %}