{% load i18n %}

{% load static %}

<nav>
    <a href="/"><img id="nav-logo" src="{% static 'images/neko.png' %}" alt="{% trans 'Nekomon\'s logo' %}" title="{% trans 'Home' %}"></a>

    {% if request.user.is_authenticated %}
        <div id="nav-username-logout">
            <a data-username-link="{{ request.user.username }}" href="/{{ request.user.username }}" class="nav-username-and-pfp">
                <div class="nav-user-data">
                    <span data-name="{{ request.user.username }}" class="nav-username">{{ request.user.name }}</span>
                    <img class='profile-picture-nav' data-pfp="{{ request.user.username }}" src="https://i.imgur.com/{{ request.user.profile_picture }}.jpg" alt="{% trans 'Your profile picture' %}">
                </div>
            </a>

            <form action="/logout/" id="logout">
                <button id="nav-logout-button" form="logout">{% trans "Log-out" %}</button>
            </form>
        </div>

    {% else %}
        <div class="nav-user-data">
            <a href="/login/">{% trans "Log-in" %}</a>
        </div>
    {% endif %}

</nav>