{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %}{{ user }} {% trans "at" context "Post title - Username at Nekomon.es" %} Nekomon.es{% endblock %}

{% block content %}

<div id="posts">
    {{ previous_posts | safe }}

    {{ post | safe }}

    {% if request.user.is_authenticated %}
        {% include "post_box.html" %}
    {% endif %}


    <div id="replies">
        {{ replies | safe }}
    </div>
</div>

<script type="text/javascript">
    const protocol = location.protocol === "http:" ? "ws://" : "wss://";

    // Start WebSocket for the requested post
    const postViewSocket = new WebSocket(
        protocol + window.location.host + '/ws/post/{{ in_response_to }}'
    );
</script>

<script>
    // Go to the specific post
    window.location.hash = "#post-{{id_post}}";
</script>

{% endblock %}