{% load i18n %} {% load static %}

{% block content %}
<div class="user-profile">

    {% if profile is not None and user_is_viewing_their_profile %}
        <div class="profile-header" data-profile id="profile-header">
    {% else %}
        <div class="profile-header" data-not-profile id="profile-header">
    {% endif %}    
        <img class='profile-pfp'
            data-pfp="{{ request.user.username }}"
            src="https://i.imgur.com/{{ request.user.profile_picture }}.jpg"
            alt="{% trans 'Your profile picture' %}"
            id="profile-pfp-uneditable">

        <div id="profile-info">
            <form id="update-form">

                <div id="update-form-fields" hidden>
                    {% csrf_token %}

                    <img class='profile-pfp'
                        data-pfp="{{ request.user.username }}"
                        src="https://i.imgur.com/{{ request.user.profile_picture }}.jpg"
                        alt="{% trans 'Your profile picture' %}"
                        id="profile-pfp-editable">

                    {% for field in update_form %}
                        {{ field }}
                    {% endfor %}
                </div>

                <div id="profile-info-data">
                    <div id="user-name" data-name="{{ request.user.username }}">
                        {{ request.user.name }}
                    </div>
                    <div id="user-username" data-username="{{ request.user.username }}">
                        @{{ request.user.username }}
                    </div>
                    <div id="user-description" data-description="{{ request.user.username }}">
                        {{ request.user.description }}
                    </div>
                    <div>
                        {% trans "Date joined" %}: {{ request.user.date_joined|date:"d/m/Y" }}
                    </div>
                    <div>
                        {% trans "Last access" %}: <time class="timeago" datetime="{{ request.user.last_login|date:'c' }}"></time>
                    </div>
                </div>
            </form>

            <div id="messages-update"></div>
        </div>

        <div class="profile-button-container">
            <button id="edit-profile" class="profile-button profile-button-green">{% trans "Edit profile" %}</button>
        </div>

        <div class="profile-button-container" id="profile-save-button-container" hidden>
            <button id="edit-profile-save" class="profile-button profile-button-green">{% trans "Save" %}</button>
        </div>

        <div class="profile-button-container" id="profile-cancel-button-container" hidden>
            <button id="edit-profile-cancel" class="profile-button profile-button-green">{% trans "Cancel" %}</button>
        </div>
    </div>
</div>
{% endblock %}