{% extends 'base.html' %} {% load i18n %} {% load static %}

{% block title %}
    {{ profile.name }} - Nekomon.es
{% endblock %}

{% block content %}

<div class="user-profile-container">
    {% if user_is_viewing_their_profile %}
        <div class="profile-header-view" data-user-profile>
    {% else %}
        <div class="profile-header-view">
    {% endif %}
    
        <img class='profile-pfp' data-pfp="{{ profile.username }}" src="https://i.imgur.com/{{ profile.profile_picture }}.jpg" alt="{{ profile.name }}'s profile picture">

        <div id="profile-info">
            <div id="user-name" data-name="{{ profile.username }}">
                {{ profile.name }}
            </div>
            <div id="user-username" data-username="{{ profile.username }}">
                @{{ profile.username }}
            </div>
            <div id="user-description" data-description="{{ profile.username }}">
                {{ profile.description }}
            </div>
            <div>
                {% trans "Date joined" %}: {{ profile.date_joined|date:"d/m/Y" }}
            </div>
            <div>
                {% trans "Last access" %}: <time class="timeago" datetime="{{ profile.last_login|date:'c' }}"></time>
            </div>
        </div>

        <div>
            {% if request.user.is_authenticated and profile != request.user %}
                <form id="follow-unfollow" class="profile-button-container">
                    {% csrf_token %} {% for field in follow_unfollow_form %} {{ field }} {% endfor %}

                    {% if is_following %}
                        <button form="follow-unfollow" class="profile-button profile-button-red" id="follow-unfollow-button">
                            {% trans "Unfollow" %}
                        </button>
                    {% else %}
                        <button form="follow-unfollow" class="profile-button profile-button-green" id="follow-unfollow-button">
                            {% trans "Follow" %}
                        </button>
                    {% endif %}
                    
                </form>
            {% endif %}
        </div>
    </div>

    {% if profile == request.user %} {% include 'post_box.html' %} {% endif %}

    <div id="posts">
        {{ posts | safe}}
    </div>
</div>

<script type="text/javascript">
    const protocol = location.protocol === "http:" ? "ws://" : "wss://";

    // Start WebSocket for the requested profile
    const postSocket = new WebSocket(
        protocol + window.location.host + '/ws/user/{{ profile.username }}/'
    );
</script>

<script src="{% static 'js/follow-unfollow.js' %}"></script>

{% endblock %}