{% extends 'base.html' %} {% load i18n %} {% load static %}

{% block title %}
    {{ profile.name }} - Nekomon.es
{% endblock %}

{% block content %}

<div class="user-profile-container">
    <div class="profile-header-view">
        <img class='profile-pfp' data-pfp="{{ profile.username }}" src="https://i.imgur.com/{{ profile.profile_picture }}.jpg" alt="{{ profile.name }}'s profile picture">

        <div id="profile-info">
            <div id="user-name" data-name="{{ profile.username }}">
                {{ profile.name }}
            </div>
            <div id="user-username" data-username="{{ profile.username }}">
                @{{ profile.username }}
            </div>
            <div id="user-description" data-description="{{ profile.username }}">
                {{ profile.description }}
            </div>
            <div>
                {% trans "Date joined" %}: {{ profile.date_joined|date:"d/m/Y" }}
            </div>
            <div>
                {% trans "Last access" %}: <time class="timeago" datetime="{{ profile.last_login|date:'c' }}"></time>
            </div>
        </div>

        <div>
            {% if request.user.is_authenticated and profile != request.user %}
                <form id="follow-unfollow" class="profile-button-container">
                    {% csrf_token %} {% for field in follow_unfollow_form %} {{ field }} {% endfor %}
                    <button form="follow-unfollow" class="profile-button" id="follow-unfollow-button">
                        {% if is_following %}
                            {% trans "Unfollow" %}
                        {% else %}
                            {% trans "Follow" %}
                        {% endif %}
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

    {% if profile == request.user %} {% include 'post_box.html' %} {% endif %}

    <div id="posts">
        {{ posts | safe}}
    </div>
</div>

<script type="text/javascript">
    const protocol = location.protocol === "http:" ? "ws://" : "wss://";

    // Start WebSocket for the requested profile
    const postSocket = new WebSocket(
        protocol + window.location.host + '/ws/user/{{ profile.username }}/'
    );
</script>

<script type="text/javascript">
    let follow_unfollow_form = $('#follow-unfollow');
    let follow_unfollow_button = $('#follow-unfollow-button');
    let is_following_input = $('#id_is_following');

    follow_unfollow_form.submit(function() {
        $.ajax({
            type: "post",
            url: "/ajax/follow-unfollow/",
            data: follow_unfollow_form.serialize(),
            success: function(data) {
                if (data == "True") {
                    follow_unfollow_button.html("{% trans 'Unfollow' %}");
                    is_following_input.val(data);
                } else {
                    follow_unfollow_button.html("{% trans 'Follow' %}");
                    is_following_input.val(data);
                }
            },
            error: function(data) {
                alert("{% trans 'Can\'t do that' %}");
            },
        });
        return false;
    });

</script>

{% endblock %}